#todo
{
    background-color: tan;
    padding: 2%;
}
h1
{
    text-align: center;
    background-color: tomato;
    color: white;
}
.cuadrado
{

    color: white;
    display: inline-block;
    text-align: center;
    width: 400px;
    height: 400px;
    font-size: 380px;
    line-height: 400px;
    padding: 10px;
    margin: 1px;
}
.ca
{
    background-color: tomato;
    color:seagreen
}
.cb
{
    background-color: seagreen;
    color: tomato;
}
.cc
{
    background-color: tomato;
    color:seagreen
}
.cd
{
    background-color: seagreen;
    color: tomato;
}
.ce
{
    background-color: tomato;
    color:seagreen
}
.cf
{
    background-color: seagreen;
    color: tomato;
}
.cg
{
    background-color: tomato;
    color:seagreen
}
.ch
{
    background-color: seagreen;
    color: tomato;
}
.ci
{
    background-color: tomato;
    color:seagreen
}
